doctype html
html
    head
        title Asset List
        link(rel='stylesheet' href='https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css')
        script(src='https://code.jquery.com/jquery-3.6.0.min.js')
        script(src='https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js')
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #b1dbf2;
                margin: 0;
                padding: 20px;
            }

            h1 {
                text-align: center;
                color: #333;
            }

            p {
                text-align: center;
                color: #666;
            }

            .btn {
                display: block;
                width: 150px;
                margin: 20px auto;
                padding: 10px;
                border: none;
                background-color: #4CAF50;
                color: white;
                font-size: 16px;
                cursor: pointer;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
            }

            .btn:hover {
                background-color: #45a049;
            }

            .delete-link {
                color: red;
                margin-left: 10px;
                cursor: pointer;
            }

            .delete-link:hover {
                text-decoration: underline;
            }

    body
        h1 Asset List
        if assets.length === 0
            p No assets found.
        else
            table#assetTable
                thead
                    tr
                        th Asset Name
                        th Make
                        th Model
                        th Category
                        th Stock Qty
                        th UOM
                        th Unit Rate
                        th Action
                tbody
                    each asset in assets
                        tr
                            td #{asset.assetName}  
                            td #{asset.make}
                            td #{asset.model}
                            td #{asset.category ? asset.category.categoryName : 'Unknown'} 
                            td #{asset.stockQty}
                            td #{asset.uom}
                            td #{asset.value}
                            td
                                a(href=`/editAsset/${asset.id}`) Edit
                                a(href=`#`, onclick=`deleteAsset('${asset.id}')`, class='delete-link') Delete

        button.btn(type='button' onclick="location.href='/assetCreate'") Create Asset

        script.
            $(document).ready(function() {
                var table = $('#assetTable').DataTable();

                $('#assetTable thead th').each(function() {
                    var title = $(this).text();
                    if (title !== 'Action') {
                        $(this).append('<br><input type="text" placeholder="Search ' + title + '" />');
                    }
                });

                table.columns().every(function() {
                    var that = this;

                    $('input', this.header()).on('keyup change', function() {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
            });

            function deleteAsset(assetId) {
                if (confirm('Are you sure you want to delete this asset?')) {
                    fetch(`/deleteAsset/${assetId}`, {
                        method: 'POST',
                    })
                    .then(response => {
                        if (response.ok) {
                            location.reload();
                        } else {
                            throw new Error('Failed to delete asset');
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting asset:', error);
                        alert('Failed to delete asset. Please try again.');
                    });
                }
            }
