doctype html
html
    head
        title Issue Details
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        style.
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 20px;
                background-color: #b1dbf2;
            }
            .container {
                padding: 20px;
            }
            h1, h2 {
                color: #333;
            }
            .table th, .table td {
                padding: 12px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            .table th {
                background-color: #f2f2f2;
            }
    body
        .container
            h1 Issue Details
            .row
                .col-md-6
                    p
                        strong Type:
                        | #{issue.type}
                    p
                        strong Employee:
                        | #{issue.employee.firstName} #{issue.employee.lastName}
                    p
                        strong Reason:
                        | #{issue.reason}
                    p
                        strong Date:
                        | #{issue.date}

            h2 Items
            table.table.table-striped.table-bordered
                thead
                    tr
                        th Asset
                        th Quantity
                        th Stock Qty
                tbody
                    each item in issue.items
                        tr
                            td #{item.asset.assetName}  
                            td #{item.qty}
                            td #{item.asset.stockQty}
                            
            p
                a.btn.btn-primary(href='/issueList') Back to Issues List

        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
