doctype html
html
    head
        title Issue/Return List
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #b1dbf2;
                margin: 0;
                padding: 20px;
            }

            h1 {
                text-align: center;
                color: #333;
            }

            p {
                text-align: center;
                color: #666;
            }

    body
        .container
            h1 Issue/Return List
            if issueIns.length === 0
                p Not found.
            else
                .table-responsive
                    table.table.table-striped.table-bordered
                        thead
                            tr
                                th SNO
                                th Type
                                th Emp Name
                                th Remarks
                                th Action
                        tbody
                            each issue, index in issueIns
                                tr
                                    td #{index + 1}
                                    td #{issue.type}
                                    td #{issue.employee.firstName}
                                    td #{issue.reason}
                                    td
                                        a.btn.btn-info.btn-sm(href=`/issueDetails/${issue.id}`) Details
                                        a.btn.btn-warning.btn-sm(href=`/editissue/${issue.id}`) Edit
                                        a.btn.btn-danger.btn-sm(href=`#`, onclick=`deleteIssue('${issue.id}')`) Delete

            button.btn.btn-success(type='button', onclick="location.href='/issueCreate'") Create Issue/Return

        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        script.
            function deleteIssue(issueId) {
                if (confirm('Are you sure you want to delete this issue?')) {
                    fetch(`/deleteissue/${issueId}`, {
                        method: 'POST',  
                    })
                    .then(response => {
                        if (response.ok) {
                            location.reload();  
                        } else {
                            throw new Error('Failed to delete Issue');
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting Issue:', error);
                        alert('Failed to delete Issue. Please try again.');
                    });
                }
            }
